.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  background: url("../../Assets/images/shrimpBoat.jpg");
  height: 575px;
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  align-items: flex-end;
}

/* ---------------------- slideshow---------------------------- */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
display: flex;
justify-content: center;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

.mySlidesfade img {
  height: 300px;
  width: auto;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

/* ---------------------- slideshow end---------------------------- */
.mapContainer {
display: flex;
position: relative;
justify-content: center;
padding-top: 20px;
}

#map {
display: flex;
height: 400px;
/* The height is 400 pixels */
width: 75%;
/* The width is the width of the web page */
justify-content: center;
}

/* ------------------------------------- */


.salPicture {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/dipMain2.jfif");
justify-content: center;
background-position: center;
margin-bottom: 50px;
}

.salPic1 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 150px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/parsley.jfif");
justify-content: center;
background-position: center;
}

.salPic2 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/SmokedRomesco\ Sauce.jfif");
justify-content: center;
background-position: center;
}

.salPic3 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/herbSauce.jfif");
justify-content: center;
background-position: center;
}

.salPic4 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/rich-tomato.jpg");
justify-content: center;
background-position: center;
}

.salPic5 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/mint.jpg");
justify-content: center;
background-position: center;
}

.salPic6 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/fish/sauces/lemon.jpg");
justify-content: center;
background-position: center;
}

.salPic7 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../Assets/images/fish/sauces/salmSauce.jpg");
  justify-content: center;
  background-position: center;
  }

  .salPic8 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    background-image: url("../../Assets/images/fish/sauces/redWine.jpg");
    justify-content: center;
    background-position: center;
    }

    .salPic9 {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      height: 250px;
      width: auto;
      background-image: url("../../Assets/images/fish/sauces/tomatoGinger.jpg");
      justify-content: center;
      background-position: center;
      }

      .salPic10 {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: auto;
        background-image: url("../../Assets/images/fish/sauces/sweetnsour.jpg");
        justify-content: center;
        background-position: center;
        }

.tunaPicture {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/crabMain.jpg");
justify-content: center;
background-position: center;
background-color: #ffffff;
}


.tunaPic1 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/brandy.jpg");
justify-content: center;
background-position: center;
}

.tunaPic2 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/chive.jpg");
justify-content: center;
background-position: center;
}

.tunaPic3 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/butter.jpg");
justify-content: center;
background-position: center;
}

.tunaPic4 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/diableSauce.jpg");
justify-content: center;
background-position: center;
}

.tunaPic5 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/tartar.jpg");
justify-content: center;
background-position: center;
}

.tunaPic6 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../Assets/images/crab/ponzu.jpg");
justify-content: center;
background-position: center;
}

.shrimpPicture {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../Assets/images/shrimp/cocktailSauceMain.jpg");
  justify-content: center;
  background-position: center;
  background-color: #ffffff;
  }

.shrimpPic1 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../Assets/images/shrimp/CrosseNBlackwell.png");
  justify-content: center;
  background-position: center;
  }

  .shrimpPic2 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    background-image: url("../../Assets/images/shrimp/oldBaySauce.jpg");
    justify-content: center;
    background-position: center;
    }

    .shrimpPic3 {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      height: 250px;
      width: auto;
      background-image: url("../../Assets/images/shrimp/stone.png");
      justify-content: center;
      background-position: center;
      background-color: #f1f1f1;
      }

      .shrimpPic4 {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: auto;
        background-image: url("../../Assets/images/shrimp/golds.jpg");
        justify-content: center;
        background-position: center;
        }

        .shrimpPic5 {
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          height: 250px;
          width: auto;
          background-image: url("../../Assets/images/shrimp/Frisch.jpg");
          justify-content: center;
          background-position: center;
          background-color: #f1f1f1;
          }

          .shrimpPic6 {
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: auto;
            background-image: url("../../Assets/images/shrimp/Kraft.jpg");
            justify-content: center;
            background-position: center;
            }

          .shrimpPic7 {
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: auto;
            background-image: url("../../Assets/images/shrimp/SweetBaby.jpg");
            justify-content: center;
            background-position: center;
            background-color: #f1f1f1;
            }

            .shrimpPic8 {
              position: relative;
              background-size: contain;
              background-repeat: no-repeat;
              height: 250px;
              width: auto;
              background-image: url("../../Assets/images/shrimp/Gourmaise.jpg");
              justify-content: center;
              background-position: center;
              }

              .shrimpPic9 {
                position: relative;
                background-size: contain;
                background-repeat: no-repeat;
                height: 250px;
                width: auto;
                background-image: url("../../Assets/images/shrimp/THUMB.jpg");
                justify-content: center;
                background-position: center;
                background-color: #f1f1f1;
                }


                .lobsterPicture {
                  position: relative;
                  background-size: contain;
                  background-repeat: no-repeat;
                  height: 250px;
                  width: auto;
                  background-image: url("../../Assets/images/lobster/saucesMain.jfif");
                  justify-content: center;
                  background-position: center;
                  background-color: #ffffff;
                  }
                
                .lobsterPic1 {
                  position: relative;
                  background-size: contain;
                  background-repeat: no-repeat;
                  height: 250px;
                  width: auto;
                  background-image: url("../../Assets/images/lobster/ClassicThermidor.jfif");
                  justify-content: center;
                  background-position: center;
                  }

                  .lobsterPic2 {
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 250px;
                    width: auto;
                    background-image: url("../../Assets/images/lobster/lemon.jfif");
                    justify-content: center;
                    background-position: center;
                    }

                    .lobsterPic3 {
                      position: relative;
                      background-size: contain;
                      background-repeat: no-repeat;
                      height: 250px;
                      width: auto;
                      background-image: url("../../Assets/images/lobster/shallot.jfif");
                      justify-content: center;
                      background-position: center;
                      }

                      .lobsterPic4 {
                        position: relative;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 250px;
                        width: auto;
                        background-image: url("../../Assets/images/lobster/green.png");
                        justify-content: center;
                        background-position: center;
                        }

                        .lobsterPic5 {
                          position: relative;
                          background-size: contain;
                          background-repeat: no-repeat;
                          height: 250px;
                          width: auto;
                          background-image: url("../../Assets/images/lobster/asianSpices.jfif");
                          justify-content: center;
                          background-position: center;
                          }

                          .lobsterPic6 {
                            position: relative;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 250px;
                            width: auto;
                            background-image: url("../../Assets/images/lobster/truf.jfif");
                            justify-content: center;
                            background-position: center;
                            }

                            .lobsterPic7 {
                              position: relative;
                              background-size: contain;
                              background-repeat: no-repeat;
                              height: 250px;
                              width: auto;
                              background-image: url("../../Assets/images/lobster/random.jfif");
                              justify-content: center;
                              background-position: center;
                              }

                              .octopusPicture {
                                position: relative;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 250px;
                                width: auto;
                                background-image: url("../../Assets/images/octopus/octMain.png");
                                justify-content: space-around;
                                background-position: center;
                                background-color: #ffffff;
                                padding-bottom: 40px;
                                }
                              
                              .octopusPic1 {
                                position: relative;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 250px;
                                width: auto;
                                background-image: url("../../Assets/images/octopus/chili.jfif");
                                justify-content: center;
                                background-position: center;
                                }
              
                                .octopusPic2 {
                                  position: relative;
                                  background-size: contain;
                                  background-repeat: no-repeat;
                                  height: 250px;
                                  width: auto;
                                  background-image: url("../../Assets/images/octopus/ancho.jfif");
                                  justify-content: center;
                                  background-position: center;
                                  }
              
                                  .octopusPic3 {
                                    position: relative;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    height: 250px;
                                    width: auto;
                                    background-image: url("../../Assets/images/octopus/BlackBean.jfif");
                                    justify-content: center;
                                    background-position: center;
                                    }
              
                                    .octopusPic4 {
                                      position: relative;
                                      background-size: contain;
                                      background-repeat: no-repeat;
                                      height: 250px;
                                      width: auto;
                                      background-image: url("../../Assets/images/octopus/Takoyakisauce.jfif");
                                      justify-content: center;
                                      background-position: center;
                                      }
              
                                      .octopusPic5 {
                                        position: relative;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        height: 250px;
                                        width: auto;
                                        background-image: url("../../Assets/images/octopus/Kewpiesauce.jfif");
                                        justify-content: center;
                                        background-position: center;
                                        }
              
                                        .octopusPic6 {
                                          position: relative;
                                          background-size: contain;
                                          background-repeat: no-repeat;
                                          height: 250px;
                                          width: auto;
                                          background-image: url("../../Assets/images/octopus/octoTempura.jfif");
                                          justify-content: center;
                                          background-position: center;
                                          }

                                          .squidPicture {
                                            position: relative;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            height: 250px;
                                            width: auto;
                                            background-image: url("../../Assets/images/squid/calamariMain.jpg");
                                            justify-content: center;
                                            background-position: center;
                                            background-color: #ffffff;
                                            }
                                          
                                          .squidPic1 {
                                            position: relative;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            height: 250px;
                                            width: auto;
                                            background-image: url("../../Assets/images/squid/romesco.jfif");
                                            justify-content: center;
                                            background-position: center;
                                            }

                                            .squidPic2 {
                                              position: relative;
                                              background-size: contain;
                                              background-repeat: no-repeat;
                                              height: 250px;
                                              width: auto;
                                              background-image: url("../../Assets/images/squid/marinara.jfif");
                                              justify-content: center;
                                              background-position: center;
                                              }

                                              .squidPic3 {
                                                position: relative;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                height: 250px;
                                                width: auto;
                                                background-image: url("../../Assets/images/squid/garlicLemon.jpg");
                                                justify-content: center;
                                                background-position: center;
                                                }

                                                .squidPic4 {
                                                  position: relative;
                                                  background-size: contain;
                                                  background-repeat: no-repeat;
                                                  height: 250px;
                                                  width: auto;
                                                  background-image: url("../../Assets/images/squid/chipotleAoli.jfif");
                                                  justify-content: center;
                                                  background-position: center;
                                                  }

                                                  .squidPic5 {
                                                    position: relative;
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    height: 250px;
                                                    width: auto;
                                                    background-image: url("../../Assets/images/squid/LemonBasil.jfif");
                                                    justify-content: center;
                                                    background-position: center;
                                                    }

                                                    .squidPic6 {
                                                      position: relative;
                                                      background-size: contain;
                                                      background-repeat: no-repeat;
                                                      height: 250px;
                                                      width: auto;
                                                      background-image: url("../../Assets/images/squid/ranch.jpg");
                                                      justify-content: center;
                                                      background-position: center;
                                                      }

                                                      .squidPic7 {
                                                        position: relative;
                                                        background-size: contain;
                                                        background-repeat: no-repeat;
                                                        height: 250px;
                                                        width: auto;
                                                        background-image: url("../../Assets/images/squid/smokedChipotle.JPG");
                                                        justify-content: center;
                                                        background-position: center;
                                                        }

                                                        .squidPic8 {
                                                          position: relative;
                                                          background-size: contain;
                                                          background-repeat: no-repeat;
                                                          height: 250px;
                                                          width: auto;
                                                          background-image: url("../../Assets/images/squid/creamyChipotle.jpg");
                                                          justify-content: center;
                                                          background-position: center;
                                                          }

                                                          .squidPic9 {
                                                            position: relative;
                                                            background-size: contain;
                                                            background-repeat: no-repeat;
                                                            height: 250px;
                                                            width: auto;
                                                            background-image: url("../../Assets/images/squid/redSauce.jpg");
                                                            justify-content: center;
                                                            background-position: center;
                                                            background-color: #f1f1f1;
                                                            }

                                                            .squidPic10 {
                                                              position: relative;
                                                              background-size: contain;
                                                              background-repeat: no-repeat;
                                                              height: 250px;
                                                              width: auto;
                                                              background-image: url("../../Assets/images/squid/sweetOrange.jpeg");
                                                              justify-content: center;
                                                              background-position: center;
                                                              }