.salmon h1 {
    display: flex;
    font-size: 26px;
    justify-content: center;
    text-decoration: underline;
    position: relative;
    top: 0;
    padding-bottom: 20px;
    padding-top: 40px;
    }

    
    .content h2 {
        justify-content: center;
        font-size: 22px;
        padding:40px;
        position: relative;
        display: flex;
        text-decoration: underline;
    }
    
    .salmonType1 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
    }
    
    .salmonType1 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType1 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType2 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType2 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType2 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType3 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType3 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType3 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType4 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType4 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType4 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType5 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType5 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType5 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType6 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType6 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType6 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType7 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType7 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType7 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType8 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType8 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType8 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType9 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType9 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType9 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType10 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType10 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType10 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .tuna h1 {
        display: flex;
        font-size: 26px;
        justify-content: center;
        text-decoration: underline;
        position: relative;
        top: 0;
        padding-bottom: 20px;
        padding-top: 40px;
        background-color: #ffffff;
        }
    
        .tunaType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }



        .lobsterType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }


        .octopusType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType10 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType10 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType10 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType10 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType10 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType10 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }