.salmon h1 {
    display: flex;
    font-size: 22px;
    justify-content: center;
    text-decoration: underline;
    position: relative;
    top: 0;
    padding-bottom: 20px;
    padding-top: 40px;
    }

    
    .content h2 {
        justify-content: center;
        font-size: 22px;
        padding:40px;
        position: relative;
        display: flex;
        text-decoration: underline;
    }
    
    .salmonType1 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
    }
    
    .salmonType1 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType1 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType2 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType2 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType2 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType3 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType3 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType3 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType4 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType4 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType4 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType5 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType5 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType5 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType6 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType6 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType6 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType7 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType7 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType7 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType8 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType8 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType8 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType9 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType9 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType9 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType10 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType10 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType10 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .tuna h1 {
        display: flex;
        font-size: 22px;
        justify-content: center;
        text-decoration: underline;
        position: relative;
        top: 0;
        padding-bottom: 20px;
        padding-top: 40px;
        background-color: #ffffff;
        }
    
        .tunaType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType10 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType10 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType10 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType11 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType11 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType11 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType12 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType12 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType12 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType13 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType13 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType13 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType14 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType14 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType14 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType15 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType15 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType15 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }