content h1 {
    justify-content: center;
    font-size: 22px;
    padding:40px;
    position: relative;
    display: flex;
    text-decoration: underline;
    font-weight: 600;
    width: 100vw;
}

.container h2 {
    font-size: 18px;
}

.container h3 {
  height: auto;
  width: 75%;
}